<section id="ucc-post-component">
  <app-standard-page>
    <h1>
      Unit of Complete Code
    </h1>

    <h2>
      Using git and UCC to keep a tidy commit history
    </h2>

    <h3>
      It all about good commits
    </h3>

    <p>
      UCC is a philosophy I follow at work and on my own projects. In short, we: <b>only commit something that is completed</b>.
    </p>

    <p>
      We don't want to be the one that aggravates our QA team by delivering code that obviously has bugs. We should never say, “It doesn’t have bugs, it’s just not finished yet!”, because the correct response to that is, “Well why the fuck did you push it then?”. The only (debatably) legitimate reason I’ve heard for pushing incomplete code is from developers who don’t want their local environment to fall behind, so they feel the need to push and pull all day long.
    </p>

    <h3>
      I offer a solution to that particular problem. Local branching and the wonderful <span class="code-callout">squash</span> command.
    </h3>

    <p>
      First, let's create our local branch by typing the following (Git) command on master:
    </p>

    <app-quoted-content [terminalInput]="true">
      <p>
        $ git checkout -b my_new_feature
      </p>
    </app-quoted-content>

    <p>
      This is just telling git to create a branch named “my_new_feature” (that’s the <span class="code-callout">-b</span> and <span class="code-callout">my_new_feature</span> parts) and immediately switch to it (the <span class="code-callout">checkout</span> part).
    </p>

    <p>
      Then, on this local branch, we code away, we code however we want, we commit whenever we want, with whatever message(s) we want. And, when we feel that itch to get the latest code we type the following command on <span class="code-callout">my_new_feature</span>:
    </p>

    <app-quoted-content [terminalInput]="true">
      <ul>
        <li>
          $ git fetch
        </li>
        <li>
          $ git merge origin/master
        </li>
      </ul>
    </app-quoted-content>

    <p>
      We’re just asking for all the tags for all the commits others have done on any branch with the <span class="code-callout">fetch</span> command. Then we’re telling git to merge into our local branch any new stuff from master with the <span class="code-callout">merge origin/master</span> command.
    </p>

    <p>
      Finally, when we’re done with our UCC, we do the step above one more time and test our code one more time, then switch back to master and commit our changes as <b>one single commit</b>:
    </p>

    <app-quoted-content [terminalInput]="true">
      <ul>
        <li>
          $ git checkout master
        </li>
        <li>
          $ git pull origin master
        </li>
        <li>
          $ git merge --squash my_new_feature
        </li>
        <li>
          $ git commit -a -m “Bask in the glory of my new feature!”
        </li>
        <li>
          $ git push origin master
        </li>
      </ul>
    </app-quoted-content>

    <p>
      That’s a lot of commands, so let’s go over what we’re doing here:
    </p>

    <ul class="disc">
      <li>
        Switching to the <span class="code-callout">master</span> branch
      </li>
      <li>
        Making sure that branch is up to date
      </li>
      <li>
        Taking all our code from our local branch and adding it to our <span class="code-callout">master</span> branch without retaining any of our local commit messages
      </li>
      <li>
        Creating a single commit for all our new code with a meaningful message
      </li>
      <li>
        Pusing our awesomeness to the world (or at the very least, to our QA team)
      </li>
    </ul>

    <h3>
      Look at us, UCC'ing like champs
    </h3>

    <img src="http://www.reactiongifs.com/wp-content/uploads/2012/06/swanson-dance.gif"
          alt="The appropriate level of dancing when you push your awesome code. The penguin dance is also acceptable."
          title="The appropriate level of dancing when you push your awesome code. The penguin dance is also acceptable." />
  </app-standard-page>
</section>
  