@import "../../assets//stylesheets//mixins/mixins.scss";

section.quoted-content-component {
  border-left: 2px solid $blue-5;
  font-size: $normal;
  line-height: 24px;
  margin: 40px 0;
  padding: 0 60px;

  @media (max-width: $small-view) {
    font-size: $small;
  }

  &.terminal-input {
    @include code-font;

    background-color: $grey-10;
    border-left: 2px solid $grey-10;
    color: $grey-4;
  }
}
