@import "../../assets//stylesheets//mixins/mixins.scss";

section.site-header-component {
  border-bottom: 2px solid $blue-7;
  margin-bottom: 40px;

  > header,
  > footer {
    @include main-font;

    color: $grey-9;
    display: inline-block;
    font-size: $normal;
    line-height: 24px;
    vertical-align: middle;
    width: 50%;
  }

  > header {

    > span {
      cursor: pointer;

      -moz-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      -webkit-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $grey-10;
        text-decoration: underline;
      }
    }
  }

  > footer {
    text-align: right;
  }
}
