<section id="about-page-component">

    <app-site-header></app-site-header>

    <section class="mobile-ad">
      <app-ad-tile></app-ad-tile>
    </section>
  
    <main>
      <h1>
        About
      </h1>

      <h2>
        Just what is the point of all of this?
      </h2>

      <p>
        Fun!
      </p>

      <p>
        This is really a blog for myself.
      </p>

      <p>
        I do hope others find this place, and that some people even enjoy it (or at the very least learn something useful), but in the end it's a place where I come to share things I find cool, a place to rant about things that irk me, and a place to play around with interesting components and designs.
      </p>

      <p>
        It's also a place where I get to share random gifs with the world (you're welcome) =]
      </p>

      <img src="http://media.giphy.com/media/dHr3xqGHhcCDC/giphy.gif" 
           alt="Chris Tucker teaching an engineer to dance. No, wait, that's Jackie Chan, this is a scene from Rush Hour"
           title="Chris Tucker teaching an engineer to dance. No, wait, that's Jackie Chan, this is a scene from Rush Hour" />
    </main>

    <section class="desktop-ad">
      <app-ad-tile></app-ad-tile>
    </section>
  
    <app-site-footer></app-site-footer>
  
  </section>
  