<section class="site-footer-component">

  <ul>
    <!-- Site links -->
    <li>
      <ul>
        <li>
          <i class="fas fa-sitemap"></i> site stuff
        </li>
        <li>
          about
        </li>
        <li>
          <span tabindex="0" (click)="navigateToDisclosure()" (keyup.enter)="navigateToDisclosure()">
            disclosure
          </span>
        </li>
      </ul>
    </li>
    <!-- Github links -->
    <li>
      <ul>
        <li>
          <i class="fab fa-github"></i> projects
        </li>
        <li>
          <a href="https://github.com/lrcrews/ryancrews.com.angular" target="_blank">
            ryancrews.com
          </a>
        </li>
      </ul>
    </li>
    <!-- Social links -->
    <li>
      <ul>
        <li>
          <i class="fas fa-address-card"></i> me, elsewhere
        </li>
        <li>
          <a href="https://github.com/lrcrews" target="_blank">
            github
          </a>
        </li>
        <li>
          <a href="https://stackoverflow.com/users/686871/ryan-crews" target="_blank">
            stackoverflow
          </a>
        </li>
        <li>
          <a href="www.linkedin.com/in/lryancrews" target="_blank">
            linkedin
          </a>
        </li>
      </ul>
    </li>
    <!-- Copyright -->
    <li>
      <ul>
        <li>
          <i class="far fa-copyright"></i> {{ currentYear }} Leonard Ryan Crews
        </li>
      </ul>
    </li>
  </ul>

</section>
