<section class="site-footer-component">

  <header>
  
    <ul>
      <li>
        <ul>
          <li>
            <i class="fas fa-sitemap"></i> site stuff
          </li>
          <li>
            about
          </li>
          <li>
            disclosure
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            <i class="fab fa-github"></i> projects
          </li>
          <li>
            ryancrews.com
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            <i class="fas fa-address-card"></i> me, elsewhere
          </li>
          <li>
            github
          </li>
          <li>
            stackoverflow
          </li>
          <li>
            linkedin
          </li>
        </ul>
      </li>
    </ul>

  </header>

  <footer>
    <i class="far fa-copyright"></i> {{ currentYear }} Leonard Ryan Crews
  </footer>

</section>
