@import "../../assets//stylesheets//mixins/mixins.scss";

footer.site-footer-component {
  border-top: 2px solid $blue-7;
  margin-top: 80px;

  > ul {

    > li {
      padding-bottom: 20px;

      &:first-child {
        padding-top: 20px;
      }

      > ul {

        > li {
          
          &:first-child {
            @include accent-font;
            color: $grey-8;
            font-weight: 600;
          }

          > i {
            font-size: $normal;
            margin-right: 8px;
          }
        }
      }
    }
  }
}
